<h1>#####      insertOne() avec MongoDB & Python (pymongo)              #####</h1>

In [61]:
import pymongo
import time
import json

In [62]:
start = time.time()

try:
    client = pymongo.MongoClient('mongodb://localhost:27017/')
    client.server_info()
except:
    print('Authentification failed ')

print(time.time() - start)

0.0239713191986084

<h3>Créer 1ère DB "metflix" qui contient 1collection "movies" dans laquelle vs inserez les documents suivants :</h3>
<ul>
<li>title = Rocky ; year = 1976</li>
<li>title = Rocky ; year = 1976 ; _id = tt0075148</li>
<li>title = Rocky ; year = 1976 ; _id = tt0075148</li>
<li>title = Rocky ; year = 1976</li>
</ul>

In [63]:
db = client.metflix
db.movies.drop()
movies = db.movies
print(db.list_collection_names())

['users']

In [64]:
try :   
    movies.insert_one({"title": "Rocky", "year": 1976})
    # Erreur car l'id doit être unique 
    # movies.insert_one({"title": "Rocky", "year": 1976, "_id": "tt0075148"})
    # movies.insert_one({"title": "Rocky", "year": 1976, "_id": "tt0075148"})
    movies.insert_one({"title": "Rocky", "year": 1976})
except :
    print("Insert failed")

items = movies.find()
for item in items :
    print(item)

{'_id': ObjectId('600477dd95dd1b64a4d1a7c1'), 'title': 'Rocky', 'year': 1976}
{'_id': ObjectId('600477dd95dd1b64a4d1a7c2'), 'title': 'Rocky', 'year': 1976}

<h3>Et une autre collection "users"</h3>
<p>Qui contient un document qui porte votre prénom et NOM</p>

In [65]:
users = db.users

try : 
    users.insert_one({"firstname": "Jérémy", "lastname": "RICHARD"})
except : 
    print("User insertion failed")

<h1>#####                         insertMany()                   #####</h1>

<h2>Supp la dernière collection, la recréer en y insérant les documents suivants :</h2>
<ul>
    <li>title = Rocky, year = 1976, _id = tt0075148</li>
    <li>title = Jaws, year = 1975, imdb = tt0073195</li>
    <li>title = Mad Max 2 : The Road Warrior, year = 1981, imdb = tt0082694</li>
    <li>title = Raiders of the Lost Ark, year = 1981, imdb = tt0082971</li>
</ul>

In [66]:
list = [{
        "title": "Rocky", 
        "year": 1976,
        "_id": "tt0075148"
    },
    {
        "title": "Jaws", 
        "year": 1975,
        "imdb": "tt0073195"
    },
    {
        "title": "Mad Max 2 : The road Warrior", 
        "year": 1981,
        "imdb": "tt0082694"
    },
    {
        "title": "Test", 
        "year": 1981,
        "imdb": "tt0082971"
    }
 ]

try : 
    movies.insert_many(list)
except :
    print("Insert many failed")

<h2>Afficher ts les documents de la collection movies, le tout 1è document, le(s) document(s) où on trouve les films produits en 1981, le document où on trouve le film qui porte le titre "Jaws" ?</h2>

In [67]:
movies.find_one()

query = {'year': 1981}
query = {"title": "Jaws"}

items = movies.find(query)
for item in items :
    print(item)

{'_id': ObjectId('600477de95dd1b64a4d1a7c4'), 'title': 'Jaws', 'year': 1975, 'imdb': 'tt0073195'}

<h1>#####               Import de fichiers .json ?                      #####</h1>

<h2>Créer une DB movies_artists avec deux collections : une pour les films et l’autre pour les artistes (voir les fichiers artists.json et movies.json associés) ?</h2>

In [68]:
db = client.movies_artists

try :
    with open('json/artists.json') as json_data:
        data_artists = json.load(json_data)

    with open('json/movies.json') as json_data:
        data_movies = json.load(json_data)
except :
    print("impossible d'ouvrir les fichiers json")

<h3>Supprimer la collection si elle existe (pour qu'elle soit recréer de nouveau et y injecter de la data fraîche).</h3>

In [69]:
if db.artist.find() : 
    db.artists.drop()

if db.movies.find():
    db.movies.drop()

movies = db.movies
artists = db.artists

try:
    db.artists.insert_many(data_artists)
    db.movies.insert_many(data_movies)
except:
    print("Insert many error")

<h2>Augmenter la collection movies avec le fichier movies_suite.json</h2>

In [70]:
try :
    with open('json/artists_suite.json') as json_data:
        data_artists = json.load(json_data)

    with open('json/movies_suite.json') as json_data:
        data_movies = json.load(json_data)
except :
    print("impossible d'ouvrir les fichiers json")

try:
    db.artists.insert_many(data_artists)
    db.movies.insert_many(data_movies)
except:
    print("Insert many error")

<h1>#####               Pagination des résultats ?                      #####</h1>

<h2>Afficher les 12 documents (films) à partir du dixième inclus en se limitant aux title et _id ?</h2>

In [71]:
movies = db.movies.find({},{"title" : 1}).limit(12).skip(9)
for movie in movies:
    print(movie)

{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:11', 'title': 'PiÃ¨ge de cristal'}
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:17', 'title': 'Pulp fiction'}
{'_id': 'movie:18', 'title': 'Mary Ã\xa0 tout prix'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}

<h1>#####                  Trier les resultats ?                        #####</h1>

<h2>Trier les documents (de la dernière qry) sur le titre du film ds un ordre croissant (ensuite décroissant) ?</h2>

In [72]:
ascendingTitle = db.movies.find({},{"title" : 1}).sort("title", 1)
descendingTitle = db.movies.find({},{"title" : 1}).sort("title", -1)

print("Ordre Croissant")
for movie in ascendingTitle:
    print(movie)

print("Ordre Décroissant")
for movie in descendingTitle:
    print(movie)

Ordre Croissant
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}
{'_id': 'movie:2', 'title': 'Alien'}
{'_id': 'movie:7', 'title': 'American Beauty'}
{'_id': 'movie:53', 'title': 'Bad Lieutenant'}
{'_id': 'movie:88', 'title': 'Batman begins'}
{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:72', 'title': 'Casino'}
{'_id': 'movie:73', 'title': 'Casino Royale'}
{'_id': 'movie:51', 'title': 'De bruit et de fureur'}
{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:40', 'title': 'FenÃªtre sur cour'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:85', 'title': 'Interstellar'}
{'_id': 'movie:57', 'title': 'Jackie Brown'}
{'_id': 'movie:42', 'title': "Jeanne d'Arc"}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:61', 'title': 'Kill Bill'}
{'_id': 'movie:48', 'title': 'King of New York'}
{'_id': 'movie:41', 'title': 'La mort aux trousses'}
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand'}
{'_id': 'movie:43', 'title': 'Le cinquiÃ¨me Ã©lÃ©ment'}
{'_id': 'movie:82', 'title': 'Le dernier mÃ©tro'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:46', 'title': 'Le grand bleu'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:28', 'title': 'Le monde perdu'}
{'_id': 'movie:54', 'title': 'Le parrain'}
{'_id': 'movie:55', 'title': 'Le parrain II'}
{'_id': 'movie:56', 'title': 'Le parrain III'}
{'_id': 'movie:34', 'title': 'Le retour du Jedi'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}
{'_id': 'movie:71', 'title': 'Les affranchis'}
{'_id': 'movie:31', 'title': 'Les bronzÃ©s font du ski'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:35', 'title': 'Les oiseaux'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}
{'_id': 'movie:81', 'title': 'Les quatre cents coups'}
{'_id': 'movie:60', 'title': 'Lost in Translation'}
{'_id': 'movie:44', 'title': 'LÃ©on'}
{'_id': 'movie:67', 'title': 'Marie Antoinette'}
{'_id': 'movie:18', 'title': 'Mary Ã\xa0 tout prix'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:87', 'title': 'Memento'}
{'_id': 'movie:63', 'title': 'Million Dollar Baby'}
{'_id': 'movie:24', 'title': 'Mission: Impossible'}
{'_id': 'movie:45', 'title': 'Nikita'}
{'_id': 'movie:76', 'title': 'No country for old men'}
{'_id': 'movie:92', 'title': 'Nous trois ou rien'}
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie'}
{'_id': 'movie:11', 'title': 'PiÃ¨ge de cristal'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:33', 'title': 'Psychose'}
{'_id': 'movie:17', 'title': 'Pulp fiction'}
{'_id': 'movie:29', 'title': 'Rain Man'}
{'_id': 'movie:36', 'title': 'Reservoir dogs'}
{'_id': 'movie:84', 'title': 'Rio Grande'}
{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:38', 'title': 'Shining'}
{'_id': 'movie:59', 'title': 'SixiÃ¨me sens'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:90', 'title': 'The Dark Knight Rises'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:3', 'title': 'Titanic'}
{'_id': 'movie:30', 'title': 'Top Gun'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:91', 'title': 'Un prophÃ¨te'}
{'_id': 'movie:58', 'title': 'Une journÃ©e en enfer'}
{'_id': 'movie:52', 'title': 'Usual suspects'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:1', 'title': 'Vertigo'}
{'_id': 'movie:5', 'title': 'Volte/Face'}
Ordre Décroissant
{'_id': 'movie:5', 'title': 'Volte/Face'}
{'_id': 'movie:1', 'title': 'Vertigo'}
{'_id': 'movie:13', 'title': 'Van Gogh'}
{'_id': 'movie:52', 'title': 'Usual suspects'}
{'_id': 'movie:58', 'title': 'Une journÃ©e en enfer'}
{'_id': 'movie:91', 'title': 'Un prophÃ¨te'}
{'_id': 'movie:15', 'title': 'Twelve Monkeys'}
{'_id': 'movie:30', 'title': 'Top Gun'}
{'_id': 'movie:3', 'title': 'Titanic'}
{'_id': 'movie:49', 'title': 'The Matrix reloaded'}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions'}
{'_id': 'movie:90', 'title': 'The Dark Knight Rises'}
{'_id': 'movie:89', 'title': 'The Dark Knight'}
{'_id': 'movie:19', 'title': 'Terminator'}
{'_id': 'movie:70', 'title': 'Taxi driver'}
{'_id': 'movie:62', 'title': 'Stalingrad'}
{'_id': 'movie:47', 'title': 'Spider-Man'}
{'_id': 'movie:68', 'title': 'Soleil vert'}
{'_id': 'movie:6', 'title': 'Sleepy Hollow'}
{'_id': 'movie:74', 'title': 'Skyfall'}
{'_id': 'movie:59', 'title': 'SixiÃ¨me sens'}
{'_id': 'movie:38', 'title': 'Shining'}
{'_id': 'movie:14', 'title': 'Seven'}
{'_id': 'movie:4', 'title': 'Sacrifice'}
{'_id': 'movie:84', 'title': 'Rio Grande'}
{'_id': 'movie:36', 'title': 'Reservoir dogs'}
{'_id': 'movie:29', 'title': 'Rain Man'}
{'_id': 'movie:17', 'title': 'Pulp fiction'}
{'_id': 'movie:33', 'title': 'Psychose'}
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus'}
{'_id': 'movie:11', 'title': 'PiÃ¨ge de cristal'}
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie'}
{'_id': 'movie:92', 'title': 'Nous trois ou rien'}
{'_id': 'movie:76', 'title': 'No country for old men'}
{'_id': 'movie:45', 'title': 'Nikita'}
{'_id': 'movie:24', 'title': 'Mission: Impossible'}
{'_id': 'movie:63', 'title': 'Million Dollar Baby'}
{'_id': 'movie:87', 'title': 'Memento'}
{'_id': 'movie:23', 'title': 'Matrix'}
{'_id': 'movie:18', 'title': 'Mary Ã\xa0 tout prix'}
{'_id': 'movie:67', 'title': 'Marie Antoinette'}
{'_id': 'movie:44', 'title': 'LÃ©on'}
{'_id': 'movie:60', 'title': 'Lost in Translation'}
{'_id': 'movie:81', 'title': 'Les quatre cents coups'}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs'}
{'_id': 'movie:35', 'title': 'Les oiseaux'}
{'_id': 'movie:20', 'title': 'Les dents de la mer'}
{'_id': 'movie:31', 'title': 'Les bronzÃ©s font du ski'}
{'_id': 'movie:71', 'title': 'Les affranchis'}
{'_id': 'movie:21', 'title': 'Le silence des agneaux'}
{'_id': 'movie:34', 'title': 'Le retour du Jedi'}
{'_id': 'movie:56', 'title': 'Le parrain III'}
{'_id': 'movie:55', 'title': 'Le parrain II'}
{'_id': 'movie:54', 'title': 'Le parrain'}
{'_id': 'movie:28', 'title': 'Le monde perdu'}
{'_id': 'movie:16', 'title': 'Le last_name de la rose'}
{'_id': 'movie:46', 'title': 'Le grand bleu'}
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres'}
{'_id': 'movie:82', 'title': 'Le dernier mÃ©tro'}
{'_id': 'movie:43', 'title': 'Le cinquiÃ¨me Ã©lÃ©ment'}
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand'}
{'_id': 'movie:41', 'title': 'La mort aux trousses'}
{'_id': 'movie:48', 'title': 'King of New York'}
{'_id': 'movie:61', 'title': 'Kill Bill'}
{'_id': 'movie:25', 'title': 'Kagemusha'}
{'_id': 'movie:42', 'title': "Jeanne d'Arc"}
{'_id': 'movie:57', 'title': 'Jackie Brown'}
{'_id': 'movie:85', 'title': 'Interstellar'}
{'_id': 'movie:79', 'title': 'Inglourious Basterds'}
{'_id': 'movie:80', 'title': 'Inglourious Basterds'}
{'_id': 'movie:86', 'title': 'Inception'}
{'_id': 'movie:8', 'title': 'Impitoyable'}
{'_id': 'movie:69', 'title': 'Heat'}
{'_id': 'movie:22', 'title': 'Godzilla'}
{'_id': 'movie:9', 'title': 'Gladiator'}
{'_id': 'movie:40', 'title': 'FenÃªtre sur cour'}
{'_id': 'movie:77', 'title': 'Fargo'}
{'_id': 'movie:37', 'title': 'Eyes Wide Shut'}
{'_id': 'movie:78', 'title': 'Django unchained'}
{'_id': 'movie:51', 'title': 'De bruit et de fureur'}
{'_id': 'movie:73', 'title': 'Casino Royale'}
{'_id': 'movie:72', 'title': 'Casino'}
{'_id': 'movie:10', 'title': 'Blade Runner'}
{'_id': 'movie:88', 'title': 'Batman begins'}
{'_id': 'movie:53', 'title': 'Bad Lieutenant'}
{'_id': 'movie:7', 'title': 'American Beauty'}
{'_id': 'movie:2', 'title': 'Alien'}
{'_id': 'movie:12', 'title': '58 minutes pour vivre'}

<h1>#####             Critères de recherche simples ?         #####</h1>

<h2>Afficher les infos du film dont l'id est 2 ? Se limiter aux infos relatives au titre, au genre et au summary ?</h2>

In [73]:
movie1 = db.movies.find_one({"_id": "movie:2"},{"title" : 1, "genre": 1, "summary": 1 })
print(movie1)

{'_id': 'movie:2', 'title': 'Alien', 'genre': 'Science-fiction', 'summary': 'PrÃ¨s d\'un vaisseau spatial Ã©chouÃ© sur une lointaine planÃ¨te, des Terriens en mission dÃ©couvrent de bien Ã©tranges "oeufs". Ils en ramÃ¨nent un Ã\xa0 bord, ignorant qu\'ils viennent d\'introduire parmi eux un huitiÃ¨me passager particuliÃ¨rement fÃ©roce et meurtrier. '}

<h2>Combien de films ont été produit en en 1979 et les afficher en se limitant aux infos relatives au titre, à l'année et à la liste des acteurs suivant un ordre alphabétique décroissant sur le titre.</h2>

In [74]:
allMoviesOf1979 = db.movies.find({"year": 1979},{"title" : 1, "year": 1, "actors": 1 }).sort("title", -1)
for movie in allMoviesOf1979 :
    print(movie)

{'_id': 'movie:31', 'title': 'Les bronzÃ©s font du ski', 'year': 1979, 'actors': [{'_id': 'artist:75', 'role': 'Nathalie Morin'}, {'_id': 'artist:76', 'role': 'Christiane'}, {'_id': 'artist:84', 'role': 'Jean-Claude Dus'}, {'_id': 'artist:85', 'role': 'JÃ©rÃ´me'}, {'_id': 'artist:86', 'role': 'Popeye'}]}
{'_id': 'movie:2', 'title': 'Alien', 'year': 1979, 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}

<h2>Afficher les infos sur le film dont le genre est "Science-fiction" et produit en 1979 sans préciser l'_id et le summary ?</h2>

In [75]:
scienceMovie = db.movies.find({"year": 1979, "genre" : "Science-fiction"},{"_id" : 0, "summary": 0})
for movie in scienceMovie:
    print(movie)

{'title': 'Alien', 'year': 1979, 'genre': 'Science-fiction', 'country': 'USA', 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}

<h1>#####             Critères de recherche complexes ?                 #####</h1>

<h2>Combien de films produits par le director dont l'id est 4 et les afficher de plus récent au moins récent (sans le résumé ni le country ni le genre) ?</h2>

In [76]:
director4Movies = db.movies.find({"director":{"_id" : "artist:4"}},{"genre" : 0, "summary": 0, "country": 0}).sort("year", 1)
for movie in director4Movies:
    print(movie)

{'_id': 'movie:2', 'title': 'Alien', 'year': 1979, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}
{'_id': 'movie:10', 'title': 'Blade Runner', 'year': 1982, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:24', 'role': 'Deckard'}, {'_id': 'artist:25', 'role': 'Batty'}]}
{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}

<h2>Combien de films produits par le director qui porte l'id 4 et dont l'un des acteurs a joué le rôle de Maximus et les afficher sans le résumé ni le country ni le genre ?</h2>

In [77]:
movieByDirector4AndMaximus = db.movies.find({"director":{"_id" : "artist:4"}, "actors.role": "Maximus"},{"genre" : 0, "summary": 0, "country": 0}).sort("year", 1)
for movie in movieByDirector4AndMaximus:
    print(movie)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'director': {'_id': 'artist:4'}, 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}

<h1>#####           Critère de recherche par intervalles                #####</h1>

<h2>Ts les films produits après 2000 compris et avant 2005 exlus (dans un ordre chronologique) en se limitant au titre du film et son année de production ?</h2>

In [78]:
moviesBetween2000and2005 = db.movies.find({"year":{"$gte":2000,"$lt":2005}},{"title" : 1, "year": 1}).sort("year", 1)
for movie in moviesBetween2000and2005:
    print(movie)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000}
{'_id': 'movie:87', 'title': 'Memento', 'year': 2000}
{'_id': 'movie:62', 'title': 'Stalingrad', 'year': 2001}
{'_id': 'movie:47', 'title': 'Spider-Man', 'year': 2002}
{'_id': 'movie:49', 'title': 'The Matrix reloaded', 'year': 2003}
{'_id': 'movie:50', 'title': 'The Matrix Revolutions', 'year': 2003}
{'_id': 'movie:60', 'title': 'Lost in Translation', 'year': 2003}
{'_id': 'movie:61', 'title': 'Kill Bill', 'year': 2003}

<h1>#####               Opérateurs booléens                             #####</h1>

<h2>Lister les films parus en 1997 ou avec l'acteur id = 147 ?</h2>

In [79]:
moviesWithActor147In1997 = db.movies.find({"$or" : [{"year": 1997}, {"actors._id": "artist:147"}] },{"title" : 1, "year": 1, "actors":1})

for movie in moviesWithActor147In1997:
    print(movie)

{'_id': 'movie:3', 'title': 'Titanic', 'year': 1997, 'actors': [{'_id': 'artist:109', 'role': 'Rose DeWitt Bukater'}, {'_id': 'artist:110', 'role': 'Jack Dawson'}]}
{'_id': 'movie:5', 'title': 'Volte/Face', 'year': 1997, 'actors': [{'_id': 'artist:11', 'role': 'Sean Archer/Castor Troy'}, {'_id': 'artist:12', 'role': 'Castor Troy/Sean Archer'}]}
{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs', 'year': 1997, 'actors': [{'_id': 'artist:20', 'role': 'Luther Whitney'}, {'_id': 'artist:21', 'role': 'Le prÃ©sident Richmond'}, {'_id': 'artist:69', 'role': 'Seth Frank'}]}
{'_id': 'movie:28', 'title': 'Le monde perdu', 'year': 1997, 'actors': [{'_id': 'artist:57', 'role': 'Dr. Ian Malcolm'}]}
{'_id': 'movie:43', 'title': 'Le cinquiÃ¨me Ã©lÃ©ment', 'year': 1997, 'actors': [{'_id': 'artist:27', 'role': 'Major Korben Dalla'}, {'_id': 'artist:112', 'role': 'Leeloo'}, {'_id': 'artist:116', 'role': 'Jean-Baptiste Emmanuel Zorg'}, {'_id': 'artist:117', 'role': 'Vito Cornelius'}]}
{'_id': 'movie:57', 'title': 'Jackie Brown', 'year': 1997, 'actors': [{'_id': 'artist:167', 'role': 'Luis Gara'}, {'_id': 'artist:168', 'role': 'Jackie Brown'}, {'_id': 'artist:169', 'role': 'Melanie'}, {'_id': 'artist:170', 'role': 'Ray Nicolette'}, {'_id': 'artist:212', 'role': 'Ordell Robbie'}]}

<h1>#####       Opérateurs ensemblistes : in, not in, any, all, exists  #####</h1>

<h2>Q : Combien de films dans lesquels ont joué au moins un des artistes suivants : 34, 98 et 1 et afficher leur titre et la liste des actors ; sens du tri : chronologique et alphabétique croissant sur les noms des artistes ?</h2>

In [80]:
moviesWithSpecifiedActors = db.movies.find({"actors._id":{"$in":["artist:34","artist:98","artist:1"]}},{"title" : 1, "actors": 1}).sort("year", 1).sort("actors",1)

for movie in moviesWithSpecifiedActors:
    print(movie)
    print("\n")

{'_id': 'movie:56', 'title': 'Le parrain III', 'actors': [{'_id': 'artist:1', 'role': 'Mary Corleone'}, {'_id': 'artist:176', 'role': 'Michael Corleone'}, {'_id': 'artist:183', 'role': 'Kay Adams'}, {'_id': 'artist:186', 'role': 'Vincent Mancini'}]}


{'_id': 'movie:36', 'title': 'Reservoir dogs', 'actors': [{'_id': 'artist:37', 'role': 'Mr. Brown'}, {'_id': 'artist:98', 'role': 'Mr. White/Larry'}, {'_id': 'artist:99', 'role': 'Freddy Newendyke/Mr. Orange'}, {'_id': 'artist:100', 'role': 'Nice Guy Eddie'}, {'_id': 'artist:215', 'role': 'Mr Blonde'}, {'_id': 'artist:217', 'role': 'Mr Pink'}, {'_id': 'artist:218', 'role': 'Mr Blue'}]}


{'_id': 'movie:17', 'title': 'Pulp fiction', 'actors': [{'_id': 'artist:11', 'role': 'Vincent Vega'}, {'_id': 'artist:27', 'role': 'Butch Coolidge'}, {'_id': 'artist:37', 'role': 'Jimmy Dimmick'}, {'_id': 'artist:38', 'role': 'Jules Winnfield'}, {'_id': 'artist:39', 'role': 'Jody'}, {'_id': 'artist:40', 'role': 'Mia Wallace'}, {'_id': 'artist:97', 'role': 'Capt. Koons'}, {'_id': 'artist:98', 'role': 'Winston "The Wolf" Wolfe'}, {'_id': 'artist:99', 'role': 'Pumpkin (Ringo)'}]}


{'_id': 'movie:53', 'title': 'Bad Lieutenant', 'actors': [{'_id': 'artist:98', 'role': 'Le lieutenant'}]}

<h2>Q : Chercher les films dans lesquels ont joué ensemble les actors 23 et 147 ?</h2>

In [81]:
moviesWithSpecifiedActors2 = db.movies.find({"actors._id":{"$all":["artist:23","artist:147"]}},{"title" : 1, "actors": 1}).sort("title",1)

for movie in moviesWithSpecifiedActors2:
    print(movie)
    print("\n")

{'_id': 'movie:9', 'title': 'Gladiator', 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}

<h2>Q : Combien de films dans lesquels ont joué ni l'acteur 34, ni 98, ni 1 et afficher leur titre et la liste des actors ; sens du tri : chronologique décroissant et alphabétique croissant sur les titres des films ?</h2>

In [82]:
moviesWithoutSpecifiedActors = db.movies.find({"actors._id":{"$nin":["artist:34","artist:98","artist:1"]}},{"title" : 1, "actors": 1}).sort("year", 1).sort("actors",1)
count = 0 
for movie in moviesWithoutSpecifiedActors:
    count+=1;
    print("====="+str(count)+"=====")
    print(movie)
    print("\n")

=====1=====
{'_id': 'movie:4', 'title': 'Sacrifice', 'actors': []}


=====2=====
{'_id': 'movie:25', 'title': 'Kagemusha', 'actors': []}


=====3=====
{'_id': 'movie:40', 'title': 'FenÃªtre sur cour', 'actors': []}


=====4=====
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus', 'actors': []}


=====5=====
{'_id': 'movie:79', 'title': 'Inglourious Basterds', 'actors': []}


=====6=====
{'_id': 'movie:92', 'title': 'Nous trois ou rien', 'actors': []}


=====7=====
{'_id': 'movie:37', 'title': 'Eyes Wide Shut', 'actors': [{'_id': 'artist:65', 'role': 'Docteur William "Bill" Harford'}, {'_id': 'artist:102', 'role': 'Alice Harford'}]}


=====8=====
{'_id': 'movie:38', 'title': 'Shining', 'actors': [{'_id': 'artist:103', 'role': 'Jack Torrance'}]}


=====9=====
{'_id': 'movie:41', 'title': 'La mort aux trousses', 'actors': [{'_id': 'artist:105', 'role': 'Roger O. Thornhill'}, {'_id': 'artist:106', 'role': 'Eve Kendall'}, {'_id': 'artist:107', 'role': 'Philipp Vandamm'}]}


=====10=====
{'_id': 'movie:3', 'title': 'Titanic', 'actors': [{'_id': 'artist:109', 'role': 'Rose DeWitt Bukater'}, {'_id': 'artist:110', 'role': 'Jack Dawson'}]}


=====11=====
{'_id': 'movie:5', 'title': 'Volte/Face', 'actors': [{'_id': 'artist:11', 'role': 'Sean Archer/Castor Troy'}, {'_id': 'artist:12', 'role': 'Castor Troy/Sean Archer'}]}


=====12=====
{'_id': 'movie:78', 'title': 'Django unchained', 'actors': [{'_id': 'artist:110', 'role': 'Calvin Candie'}, {'_id': 'artist:212', 'role': 'Stephen'}, {'_id': 'artist:255', 'role': 'Django'}, {'_id': 'artist:256', 'role': 'Dr. King Schultz'}]}


=====13=====
{'_id': 'movie:86', 'title': 'Inception', 'actors': [{'_id': 'artist:110', 'role': 'Cobb'}, {'_id': 'artist:269', 'role': 'Miles'}, {'_id': 'artist:270', 'role': 'Ariadne'}, {'_id': 'artist:271', 'role': 'Mal'}]}


=====14=====
{'_id': 'movie:42', 'title': "Jeanne d'Arc", 'actors': [{'_id': 'artist:80', 'role': None}, {'_id': 'artist:112', 'role': "Jeanne d'Arc"}, {'_id': 'artist:113', 'role': "Yolande d'Aragon"}, {'_id': 'artist:114', 'role': 'Charles VII'}, {'_id': 'artist:115', 'role': 'Dunois'}]}


=====15=====
{'_id': 'movie:43', 'title': 'Le cinquiÃ¨me Ã©lÃ©ment', 'actors': [{'_id': 'artist:27', 'role': 'Major Korben Dalla'}, {'_id': 'artist:112', 'role': 'Leeloo'}, {'_id': 'artist:116', 'role': 'Jean-Baptiste Emmanuel Zorg'}, {'_id': 'artist:117', 'role': 'Vito Cornelius'}]}


=====16=====
{'_id': 'movie:45', 'title': 'Nikita', 'actors': [{'_id': 'artist:115', 'role': 'Bob'}, {'_id': 'artist:119', 'role': 'Nikita'}, {'_id': 'artist:120', 'role': 'Marco'}]}


=====17=====
{'_id': 'movie:88', 'title': 'Batman begins', 'actors': [{'_id': 'artist:22', 'role': 'Lucius Fox '}, {'_id': 'artist:116', 'role': ' Jim Gordon '}, {'_id': 'artist:269', 'role': 'Alfred'}, {'_id': 'artist:274', 'role': ' Bruce Wayne / Batman '}, {'_id': 'artist:275', 'role': 'Ducard'}]}


=====18=====
{'_id': 'movie:90', 'title': 'The Dark Knight Rises', 'actors': [{'_id': 'artist:22', 'role': 'Lucius Fox'}, {'_id': 'artist:116', 'role': 'Commissioner Gordon'}, {'_id': 'artist:268', 'role': 'Selina'}, {'_id': 'artist:269', 'role': 'Alfred'}, {'_id': 'artist:271', 'role': 'Miranda'}, {'_id': 'artist:274', 'role': 'Bruce Wayne / Batman'}]}


=====19=====
{'_id': 'movie:89', 'title': 'The Dark Knight', 'actors': [{'_id': 'artist:22', 'role': 'Lucius Fox'}, {'_id': 'artist:116', 'role': 'Gordon'}, {'_id': 'artist:269', 'role': 'Alfred'}, {'_id': 'artist:274', 'role': 'Bruce Wayne / Batman'}, {'_id': 'artist:276', 'role': 'Joker'}, {'_id': 'artist:277', 'role': 'Rachel'}]}


=====20=====
{'_id': 'movie:44', 'title': 'LÃ©on', 'actors': [{'_id': 'artist:60', 'role': 'LÃ©on'}, {'_id': 'artist:116', 'role': 'Norman Stansfield'}, {'_id': 'artist:118', 'role': 'Mathilda'}]}


=====21=====
{'_id': 'movie:46', 'title': 'Le grand bleu', 'actors': [{'_id': 'artist:39', 'role': 'Johanna'}, {'_id': 'artist:60', 'role': 'Enzo Molinari'}, {'_id': 'artist:121', 'role': 'Jacques Mayol'}]}


=====22=====
{'_id': 'movie:47', 'title': 'Spider-Man', 'actors': [{'_id': 'artist:124', 'role': 'Spider-Man'}, {'_id': 'artist:125', 'role': 'Norman Osborn'}, {'_id': 'artist:126', 'role': 'Mary Jane Watson'}, {'_id': 'artist:127', 'role': 'Oncle Ben'}, {'_id': 'artist:128', 'role': 'Tante May'}]}


=====23=====
{'_id': 'movie:48', 'title': 'King of New York', 'actors': [{'_id': 'artist:63', 'role': 'Jimmy Jump'}, {'_id': 'artist:97', 'role': 'Frank White'}, {'_id': 'artist:124', 'role': 'Thomas Flanigan'}, {'_id': 'artist:131', 'role': 'Dennis Gilley'}, {'_id': 'artist:132', 'role': 'Thomas Flanigan'}, {'_id': 'artist:217', 'role': 'Test tube'}]}


=====24=====
{'_id': 'movie:82', 'title': 'Le dernier mÃ©tro', 'actors': [{'_id': 'artist:130', 'role': 'Marion Steiner'}, {'_id': 'artist:261', 'role': 'Bernard Granger'}, {'_id': 'artist:262', 'role': 'Jean-Loup Cottins'}]}


=====25=====
{'_id': 'movie:50', 'title': 'The Matrix Revolutions', 'actors': [{'_id': 'artist:62', 'role': 'Neo'}, {'_id': 'artist:63', 'role': 'Morpheus'}, {'_id': 'artist:134', 'role': 'Agent Smith'}, {'_id': 'artist:136', 'role': 'Trinity'}, {'_id': 'artist:137', 'role': "L'Oracle"}]}


=====26=====
{'_id': 'movie:54', 'title': 'Le parrain', 'actors': [{'_id': 'artist:137', 'role': 'Sonny Corleone'}, {'_id': 'artist:155', 'role': 'Capt. McCluskey'}, {'_id': 'artist:176', 'role': 'Michael Corleone'}, {'_id': 'artist:182', 'role': 'Do Vito Corleone'}, {'_id': 'artist:183', 'role': 'Kay Adams'}, {'_id': 'artist:184', 'role': 'Tom Hagen'}]}


=====27=====
{'_id': 'movie:51', 'title': 'De bruit et de fureur', 'actors': [{'_id': 'artist:139', 'role': 'Marcel'}, {'_id': 'artist:140', 'role': 'Enseignante'}, {'_id': 'artist:141', 'role': 'Bruno'}]}


=====28=====
{'_id': 'movie:6', 'title': 'Sleepy Hollow', 'actors': [{'_id': 'artist:14', 'role': 'Constable Ichabod Crane'}, {'_id': 'artist:96', 'role': 'Katrina Anne Van Tassel'}, {'_id': 'artist:97', 'role': 'Le cavalier'}]}


=====29=====
{'_id': 'movie:52', 'title': 'Usual suspects', 'actors': [{'_id': 'artist:18', 'role': 'Roger "Verbal" Kint'}, {'_id': 'artist:143', 'role': 'Micheal McManus'}, {'_id': 'artist:144', 'role': 'Dean Keaton'}, {'_id': 'artist:145', 'role': 'Fred Fenster'}, {'_id': 'artist:146', 'role': 'Todd Hockney'}]}


=====30=====
{'_id': 'movie:9', 'title': 'Gladiator', 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}


=====31=====
{'_id': 'movie:1', 'title': 'Vertigo', 'actors': [{'_id': 'artist:15', 'role': 'John Ferguson'}, {'_id': 'artist:16', 'role': 'Madeleine Elster'}, {'_id': 'artist:282', 'role': None}]}


=====32=====
{'_id': 'movie:69', 'title': 'Heat', 'actors': [{'_id': 'artist:167', 'role': None}]}


=====33=====
{'_id': 'movie:55', 'title': 'Le parrain II', 'actors': [{'_id': 'artist:167', 'role': 'Don Vito Corleone'}, {'_id': 'artist:176', 'role': 'Michael Corleone'}, {'_id': 'artist:183', 'role': 'Kay Adams'}, {'_id': 'artist:184', 'role': 'Tom Hagen'}]}


=====34=====
{'_id': 'movie:71', 'title': 'Les affranchis', 'actors': [{'_id': 'artist:167', 'role': 'James Conway'}, {'_id': 'artist:242', 'role': 'Henry Hill'}, {'_id': 'artist:243', 'role': 'Tommy DeVito'}, {'_id': 'artist:244', 'role': 'Karen Hill'}]}


=====35=====
{'_id': 'movie:57', 'title': 'Jackie Brown', 'actors': [{'_id': 'artist:167', 'role': 'Luis Gara'}, {'_id': 'artist:168', 'role': 'Jackie Brown'}, {'_id': 'artist:169', 'role': 'Melanie'}, {'_id': 'artist:170', 'role': 'Ray Nicolette'}, {'_id': 'artist:212', 'role': 'Ordell Robbie'}]}


=====36=====
{'_id': 'movie:72', 'title': 'Casino', 'actors': [{'_id': 'artist:167', 'role': "Sam 'Ace' Rothstein"}, {'_id': 'artist:243', 'role': '  Nicky Santoro '}, {'_id': 'artist:245', 'role': 'Ginger McKenna'}]}


=====37=====
{'_id': 'movie:70', 'title': 'Taxi driver', 'actors': [{'_id': 'artist:51', 'role': '1962'}, {'_id': 'artist:167', 'role': 'Travis Bickle '}]}


=====38=====
{'_id': 'movie:58', 'title': 'Une journÃ©e en enfer', 'actors': [{'_id': 'artist:27', 'role': 'McClane'}, {'_id': 'artist:38', 'role': 'Zeus Carver'}, {'_id': 'artist:169', 'role': 'Simon Gruber'}]}


=====39=====
{'_id': 'movie:59', 'title': 'SixiÃ¨me sens', 'actors': [{'_id': 'artist:27', 'role': 'Malcom Crowe'}, {'_id': 'artist:171', 'role': 'Cole Sear'}]}


=====40=====
{'_id': 'movie:60', 'title': 'Lost in Translation', 'actors': [{'_id': 'artist:173', 'role': 'Bob Harris'}, {'_id': 'artist:174', 'role': 'Charlotte'}, {'_id': 'artist:175', 'role': 'John'}, {'_id': 'artist:176', 'role': 'Kelly'}, {'_id': 'artist:177', 'role': 'Patron Nightclub'}]}


=====41=====
{'_id': 'movie:14', 'title': 'Seven', 'actors': [{'_id': 'artist:18', 'role': 'Doe'}, {'_id': 'artist:22', 'role': 'Somerset'}, {'_id': 'artist:32', 'role': 'Mills'}]}


=====42=====
{'_id': 'movie:7', 'title': 'American Beauty', 'actors': [{'_id': 'artist:18', 'role': 'Lester Burnham'}, {'_id': 'artist:19', 'role': 'Carolyn Burnham'}]}


=====43=====
{'_id': 'movie:62', 'title': 'Stalingrad', 'actors': [{'_id': 'artist:182', 'role': 'Vassili ZaÃ¯tzev'}, {'_id': 'artist:183', 'role': 'major KÃ¶nig'}]}


=====44=====
{'_id': 'movie:67', 'title': 'Marie Antoinette', 'actors': [{'_id': 'artist:2', 'role': 'Marie Antoinette'}]}


=====45=====
{'_id': 'movie:32', 'title': 'Le bon, la brute et le truand', 'actors': [{'_id': 'artist:20', 'role': None}]}


=====46=====
{'_id': 'movie:63', 'title': 'Million Dollar Baby', 'actors': [{'_id': 'artist:20', 'role': 'Frankie Dunn'}, {'_id': 'artist:22', 'role': 'Eddie Scrap-Iron Dupris'}, {'_id': 'artist:224', 'role': 'Maggie Fitzerald'}]}


=====47=====
{'_id': 'movie:26', 'title': 'Les pleins pouvoirs', 'actors': [{'_id': 'artist:20', 'role': 'Luther Whitney'}, {'_id': 'artist:21', 'role': 'Le prÃ©sident Richmond'}, {'_id': 'artist:69', 'role': 'Seth Frank'}]}


=====48=====
{'_id': 'movie:8', 'title': 'Impitoyable', 'actors': [{'_id': 'artist:20', 'role': 'William Munny'}, {'_id': 'artist:21', 'role': 'Little Bill Dagget'}, {'_id': 'artist:22', 'role': 'Ned Logan'}]}


=====49=====
{'_id': 'movie:49', 'title': 'The Matrix reloaded', 'actors': [{'_id': 'artist:62', 'role': 'Neo'}, {'_id': 'artist:63', 'role': 'Morpheus'}, {'_id': 'artist:210', 'role': 'Trinity'}, {'_id': 'artist:211', 'role': 'Agent Smith'}]}


=====50=====
{'_id': 'movie:61', 'title': 'Kill Bill', 'actors': [{'_id': 'artist:40', 'role': 'La mariÃ©e, alias "Black Mamba"'}, {'_id': 'artist:213', 'role': 'O-Ren Ishii'}, {'_id': 'artist:214', 'role': 'Bill'}, {'_id': 'artist:215', 'role': 'Budd / Sidewinder'}, {'_id': 'artist:216', 'role': 'Elle Driver'}]}


=====51=====
{'_id': 'movie:77', 'title': 'Fargo', 'actors': [{'_id': 'artist:217', 'role': 'Carl Showalter'}, {'_id': 'artist:254', 'role': ' Jerry Lundegaard '}]}


=====52=====
{'_id': 'movie:10', 'title': 'Blade Runner', 'actors': [{'_id': 'artist:24', 'role': 'Deckard'}, {'_id': 'artist:25', 'role': 'Batty'}]}


=====53=====
{'_id': 'movie:34', 'title': 'Le retour du Jedi', 'actors': [{'_id': 'artist:24', 'role': 'Han Solo'}, {'_id': 'artist:92', 'role': 'Luke Skywalker'}, {'_id': 'artist:93', 'role': 'Princesse Leia'}]}


=====54=====
{'_id': 'movie:73', 'title': 'Casino Royale', 'actors': [{'_id': 'artist:247', 'role': 'James Bond'}, {'_id': 'artist:248', 'role': 'Vesper Lynd'}]}


=====55=====
{'_id': 'movie:74', 'title': 'Skyfall', 'actors': [{'_id': 'artist:247', 'role': 'James Bond'}, {'_id': 'artist:249', 'role': 'M'}, {'_id': 'artist:250', 'role': 'Silva'}]}


=====56=====
{'_id': 'movie:76', 'title': 'No country for old men', 'actors': [{'_id': 'artist:250', 'role': 'Anton Chigurh'}, {'_id': 'artist:252', 'role': 'Ed Tom Bell'}, {'_id': 'artist:253', 'role': 'Llewelyn Moss'}]}


=====57=====
{'_id': 'movie:80', 'title': 'Inglourious Basterds', 'actors': [{'_id': 'artist:32', 'role': 'Lt. Aldo Raine'}, {'_id': 'artist:256', 'role': 'Col. Hans Landa'}, {'_id': 'artist:257', 'role': 'Shoshana'}, {'_id': 'artist:258', 'role': 'Lt. Archie Hicox'}]}


=====58=====
{'_id': 'movie:81', 'title': 'Les quatre cents coups', 'actors': [{'_id': 'artist:260', 'role': 'Antoine Doinel'}]}


=====59=====
{'_id': 'movie:84', 'title': 'Rio Grande', 'actors': [{'_id': 'artist:264', 'role': 'Lt. Col. Kirby Yorke'}, {'_id': 'artist:265', 'role': 'Mrs. Kathleen Yorke'}]}


=====60=====
{'_id': 'movie:85', 'title': 'Interstellar', 'actors': [{'_id': 'artist:267', 'role': 'Cooper'}, {'_id': 'artist:268', 'role': '   Brand '}, {'_id': 'artist:269', 'role': 'Professor Brand'}]}


=====61=====
{'_id': 'movie:15', 'title': 'Twelve Monkeys', 'actors': [{'_id': 'artist:27', 'role': 'Cole'}]}


=====62=====
{'_id': 'movie:11', 'title': 'PiÃ¨ge de cristal', 'actors': [{'_id': 'artist:27', 'role': 'McClane'}]}


=====63=====
{'_id': 'movie:12', 'title': '58 minutes pour vivre', 'actors': [{'_id': 'artist:27', 'role': 'McClane'}]}


=====64=====
{'_id': 'movie:87', 'title': 'Memento', 'actors': [{'_id': 'artist:272', 'role': 'Leonard'}, {'_id': 'artist:273', 'role': 'Natalie'}]}


=====65=====
{'_id': 'movie:91', 'title': 'Un prophÃ¨te', 'actors': [{'_id': 'artist:279', 'role': 'Malik El Djebena '}, {'_id': 'artist:280', 'role': 'CÃ©sar Luciani'}]}


=====66=====
{'_id': 'movie:13', 'title': 'Van Gogh', 'actors': [{'_id': 'artist:30', 'role': 'Van Gogh'}]}


=====67=====
{'_id': 'movie:39', 'title': 'Pas de printemps pour Marnie', 'actors': [{'_id': 'artist:35', 'role': '\n                       Mark R'}, {'_id': 'artist:95', 'role': 'Marnie Edgar'}]}


=====68=====
{'_id': 'movie:16', 'title': 'Le last_name de la rose', 'actors': [{'_id': 'artist:35', 'role': 'Baskerville'}, {'_id': 'artist:36', 'role': 'de Melk'}]}


=====69=====
{'_id': 'movie:18', 'title': 'Mary Ã\xa0 tout prix', 'actors': [{'_id': 'artist:42', 'role': 'Mary Jensen Matthews'}, {'_id': 'artist:43', 'role': 'Pat Healy'}]}


=====70=====
{'_id': 'movie:19', 'title': 'Terminator', 'actors': [{'_id': 'artist:44', 'role': 'Terminator'}]}


=====71=====
{'_id': 'movie:20', 'title': 'Les dents de la mer', 'actors': [{'_id': 'artist:46', 'role': 'Martin Brody'}, {'_id': 'artist:47', 'role': 'Quint'}, {'_id': 'artist:48', 'role': 'Matt Hooper'}]}


=====72=====
{'_id': 'movie:2', 'title': 'Alien', 'actors': [{'_id': 'artist:5', 'role': 'Ripley'}]}


=====73=====
{'_id': 'movie:21', 'title': 'Le silence des agneaux', 'actors': [{'_id': 'artist:50', 'role': 'Dr. Hannibal Lecter'}, {'_id': 'artist:51', 'role': 'Clarice Starling'}]}


=====74=====
{'_id': 'movie:30', 'title': 'Top Gun', 'actors': [{'_id': 'artist:53', 'role': 'Iceman'}, {'_id': 'artist:65', 'role': 'Lt. Pete Maverick Mitchell'}, {'_id': 'artist:82', 'role': 'Charlotte Blackwood'}]}


=====75=====
{'_id': 'movie:28', 'title': 'Le monde perdu', 'actors': [{'_id': 'artist:57', 'role': 'Dr. Ian Malcolm'}]}


=====76=====
{'_id': 'movie:22', 'title': 'Godzilla', 'actors': [{'_id': 'artist:59', 'role': 'Dr. Nikos Tatopoulos'}, {'_id': 'artist:60', 'role': 'Philippe RoachÃ©'}]}


=====77=====
{'_id': 'movie:24', 'title': 'Mission: Impossible', 'actors': [{'_id': 'artist:60', 'role': 'Franz Krieger'}, {'_id': 'artist:65', 'role': 'Ethan Hunt'}, {'_id': 'artist:66', 'role': 'Jim Phelps'}, {'_id': 'artist:67', 'role': 'Claire Phelps'}]}


=====78=====
{'_id': 'movie:23', 'title': 'Matrix', 'actors': [{'_id': 'artist:62', 'role': 'Neo'}, {'_id': 'artist:63', 'role': 'Morpheus'}]}


=====79=====
{'_id': 'movie:29', 'title': 'Rain Man', 'actors': [{'_id': 'artist:65', 'role': 'Charlie Babbitt'}, {'_id': 'artist:80', 'role': 'Raymond Babbitt'}]}


=====80=====
{'_id': 'movie:27', 'title': 'Le gendarme et les extra-terrestres', 'actors': [{'_id': 'artist:72', 'role': 'Inspecteur Cruchot'}, {'_id': 'artist:73', 'role': 'Adjudant Gerber'}]}


=====81=====
{'_id': 'movie:31', 'title': 'Les bronzÃ©s font du ski', 'actors': [{'_id': 'artist:75', 'role': 'Nathalie Morin'}, {'_id': 'artist:76', 'role': 'Christiane'}, {'_id': 'artist:84', 'role': 'Jean-Claude Dus'}, {'_id': 'artist:85', 'role': 'JÃ©rÃ´me'}, {'_id': 'artist:86', 'role': 'Popeye'}]}


=====82=====
{'_id': 'movie:68', 'title': 'Soleil vert', 'actors': [{'_id': 'artist:8', 'role': 'sol'}]}


=====83=====
{'_id': 'movie:33', 'title': 'Psychose', 'actors': [{'_id': 'artist:88', 'role': 'Bates'}, {'_id': 'artist:89', 'role': 'Lila Crane'}, {'_id': 'artist:90', 'role': 'Marion Crane'}]}


=====84=====
{'_id': 'movie:35', 'title': 'Les oiseaux', 'actors': [{'_id': 'artist:94', 'role': 'Mitch Brenner'}, {'_id': 'artist:95', 'role': 'Melanie Daniels'}]}

<h2>Q : Combien de films qui n’ont pas d’attribut actors ? Combien de films dont l'attribut actors n'est pas renseigné et les afficher ?</h2>

In [89]:
movieWithoutActors =  db.movies.find({"actors" : { "$exists": False}}).count()
print(movieWithoutActors)

movieWithEmptyActors =  db.movies.find({"actors" :{"$exists":True,"$lte":[]}},{"title" : 1, "actors": 1})
count = 0
for movie in movieWithEmptyActors:
    count+=1;
    print("====="+str(count)+"=====")
    print(movie)
    print("\n")

0
=====1=====
{'_id': 'movie:4', 'title': 'Sacrifice', 'actors': []}


=====2=====
{'_id': 'movie:25', 'title': 'Kagemusha', 'actors': []}


=====3=====
{'_id': 'movie:40', 'title': 'FenÃªtre sur cour', 'actors': []}


=====4=====
{'_id': 'movie:64', 'title': 'Pour quelques dollars de plus', 'actors': []}


=====5=====
{'_id': 'movie:79', 'title': 'Inglourious Basterds', 'actors': []}


=====6=====
{'_id': 'movie:92', 'title': 'Nous trois ou rien', 'actors': []}

<h2>Q : Donnez tous les films dont le directeur est Clint Eastwood ?</h2>

In [84]:
eastwood = db.artists.find_one({"first_name": "Clint", "last_name": "Eastwood"}) 
eastwoodMovies = db.movies.find({"director._id": eastwood['_id']}, {"title": 1, "director._id" : 1})
db.artists.fin

for movie in eastwoodMovies:
    print(movie)
    print("\n")

{'_id': 'movie:8', 'title': 'Impitoyable', 'director': {'_id': 'artist:20'}}


{'_id': 'movie:26', 'title': 'Les pleins pouvoirs', 'director': {'_id': 'artist:20'}}


{'_id': 'movie:63', 'title': 'Million Dollar Baby', 'director': {'_id': 'artist:20'}}

<h1>#####                  Expressions régulières ?                     #####</h1>

<h2>Q : Tous les films dont le titre commence par 'Re' ?</h2>

In [85]:
moviesBeginByRe = db.movies.find({"title": {"$regex" :'^Re'}}, {"actors": 0, "summary": 0})

for movie in moviesBeginByRe : 
    print(movie)

{'_id': 'movie:36', 'title': 'Reservoir dogs', 'year': 1992, 'genre': 'crime', 'country': 'USA', 'director': {'_id': 'artist:37'}}

<h2>Q : Tous les films dont le titre finit par 'la' ?</h2>

In [86]:
moviesFinishByLa = db.movies.find({"title": {"$regex" :'la$'}}, {"actors": 0, "summary": 0})

for movie in moviesFinishByLa : 
    print(movie)

{'_id': 'movie:22', 'title': 'Godzilla', 'year': 1998, 'genre': 'Action', 'country': 'USA', 'director': {'_id': 'artist:58'}}

<h2>Q : Combien de films ont été joués par l'acteur dont l'id est 147 et les afficher en se limitant au titre du film et la liste des acteurs ?</h2>

In [95]:
moviesWithSpecifiedActor = db.movies.find({"actors._id":{"$all":["artist:147"]}},{"title" : 1, "actors": 1}).sort("title",1)

for movie in moviesWithSpecifiedActor : 
    print(movie)

{'_id': 'movie:9', 'title': 'Gladiator', 'actors': [{'_id': 'artist:23', 'role': 'Maximus'}, {'_id': 'artist:147', 'role': 'Commode'}, {'_id': 'artist:148', 'role': 'Lucilla'}, {'_id': 'artist:149', 'role': 'Marc Aurele'}]}

<h2>Q : Retourner les films joués par l'acteur 147 sans les acteurs et sans le résumé ?</h2>

In [97]:
moviesWithSpecifiedActor = db.movies.find({"actors._id":{"$all":["artist:147"]}},{"summary" : 0, "actors": 0}).sort("title",1)

for movie in moviesWithSpecifiedActor : 
    print(movie)

{'_id': 'movie:9', 'title': 'Gladiator', 'year': 2000, 'genre': 'drama', 'country': 'USA', 'director': {'_id': 'artist:4'}}